* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --main-color: #e2a97c;
    --accent-color: #84cdca;

    --secondary-bg: #f5f5f5;
    --tertiary-bg: #595959;
        
    --main-fontcolor: #666666;
    --second-fontcolor: #fff;
    --tertiary-fontcolor: #4a4a4a;
}

body {
    color: var(--main-fontcolor);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    text-decoration: none;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.wrap {
    flex-wrap: wrap;
}

/* home styling */
.home{    
    height: 100vh; 
}

.home p {
    font-size: 46px;
    margin: 50px auto;   
}

.home p span {
    color: var(--main-color);
    font-weight: bold;
}

.home a {
    padding: 5px 50px;
    font-size: 24px;
    color: var(--main-fontcolor);
    
    border: 2px var(--accent-color) solid;
    border-radius: 10px;
}

.home a:hover {
    background: var(--accent-color);
    color: var(--second-fontcolor);
}

/* navbar styling */
nav {
    z-index: 999;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: right;

    padding: 10px 10vw ;
    font-size: 24px;

    background-color: var(--main-color);
}

nav ul li a {
    padding: 0 10px;
    margin: 0 20px;
    color: var(--second-fontcolor);
}

nav ul li a:hover {
    color: var(--accent-color);
}

/* about styling */
.section-title {
    font-size: 46px;
    padding-top: 10vh;
    padding-bottom: 20px;
    border-bottom: 3px solid;
    margin-bottom: 50px;
}

.primary-border {
    border-color: var(--accent-color);
}

.secondary-border {
    border-color: var(--main-color);
}

.section-content {
    padding-bottom: 10vh;
    margin: 0 10vw;
}

.about p {
    margin: 25px 0;
}

.about-pfp {
    font-size: 16px;
}

.about-pfp img {
    border-radius: 50%;
    height: 400px;
}

.about-pfp span {
    color: var(--main-color);
    font-weight: bold;
    font-size: 24px;
}

.about-info {    
    text-align: left;
    margin-left: 5vw;
    margin-bottom: 3vh;
}

.about-info p {
    margin-bottom: 7vh;
}

.about-info a {
    color: var(--accent-color);
}

.about-skills ul {
    margin-top: 25px;
    display: flex;    
    flex-wrap: wrap;
}

.about-skills ul li {
    border-radius: 30px;
    background-color: var(--accent-color);
    color: var(--second-fontcolor);
    padding: 0 25px;
    margin: 2px;
}

/* project styling */
.projects {
    background-color: var(--secondary-bg);    
}

.project {
    margin: 5px;
    width: 500px;
    height: 250px;
    /* margin: auto; */
}

.project a img {
    height: 100%; 
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 25px;
    margin-bottom: 25px;
 
}

.project a img:hover {
    filter: brightness(50%);   
}

/* contact styling */
.contact {
    background-color: var(--tertiary-bg);
    color: var(--second-fontcolor); 
    font-size: 20px;
}

.contact p {
    text-align: center;
    color: var(--accent-color);
    margin-bottom: 50px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

    border: none;
    border-radius: 10px;
    outline: none;
    padding: 5px 10px;
    margin: 5px 0;
    background-color: rgba(255, 255, 255, 0.75);
}

.contact-form input:focus,
.contact-form textarea:focus {
    background-color: rgba(255, 255, 255, 1);
}

textarea {
    height: 200px;
    resize: none;
}

.contact-form button {
    display: block;
    float: right;
    font-size: 18px;

    padding: 5px 50px;
    background-color: var(--accent-color);
    color: var(--second-fontcolor-);
    
    border: 2px var(--accent-color) solid;
    border-radius: 10px;
}

.contact-form button:hover {
    color: var(--main-fontcolor);
    filter: brightness(75%);
}

/* footer styling */
footer {
    text-align: center;
    background-color: var(--tertiary-bg);
    border-top: 3px var(--tertiary-fontcolor) solid;
    padding: 25px 0;
}

footer img {
    background: var(--main-fontcolor);
    border-radius: 50%;
    height: 75px;
    margin-bottom: 25px;
}

footer img:hover {
    filter: brightness(75%);   
}

footer p {
    display: block;
    font-size: 18px;
    font-weight: bolder;
    color: var(--tertiary-fontcolor);
}

/* small desktop screens */
@media screen and (max-width: 980px) {
    
    .section-title {
        padding-top: 100px;
    }
    
    .flex-center {
        flex-wrap: wrap;
    }
    
    nav {
        position: relative;
    }
}